<form action="/books/edit/{{book._id}}" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{book.title}}">

    <label for="author">Author</label>
    <input type="text" name="author" value="{{book.author}}">

    <label for="description">Description</label>
    <input type="text" name="description" value="{{book.description}}">

    <label for="rating">Rating</label>
    <input type="number" name="rating" value="{{book.rating}}">

    <button type="submit">Edit</button>
</form>