<h1>{{book.title}}</h1>
<span>Written by
    {{#each book.author}}
    {{!-- {{book.author}} --}}
    {{this.firstName}} {{this.lastName}}
    {{/each}}
</span>
<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}</p>

<a href="/books/edit/{{book._id}}">Edit</a>
<a href="/books">Return</a>